.navbar-div {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  
  .navbar-div a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s;
  }
 
  .navbar-div a:hover {
    color: #00b3e6;
  }
  

  .premium-button-navlink {
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
  
    &:hover {
      background: linear-gradient(45deg, #00ffff, #ff00ff);
      transform: scale(1.05);
    }
  }
  .navbar-logout-button{
    background-color: lightblue;
    border-radius: 15px;
    height: 34px;
    border: none;
  }

  .navbar-logout-button:hover{
    background-color: rgb(63, 148, 179);
    border-radius: 15px;
    height: 34px;
  }
 
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
 
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #857272;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #9e9fa1;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .navbar-download-btn{
    height: 35px;
    border-radius: 15px;
    background-color: lightblue;
    border: none;
  }

  .navbar-download-btn:hover{
    background-color: rgb(102, 170, 193);
  }